/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.main_container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.header{
    display: grid;
    grid-column: 2 / -1; /* Span across all columns */
    background-color: blue;
    height: 70px;
}

.sidebar{
    grid-row: 1/4;
    background-color: red;
}

.content{
    display:grid;
    grid-template-columns: 3fr 1fr;
}

.main_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

img{
    width: 20px;
    height: 20px;
}

.sidebar{
    display: grid;
}

.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.top_header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bottom_header{
    display: grid;
    grid-template-columns: 1fr 1fr;
}